/* Data Block Styling */
.data-block-focal-text {
    font-size: 2.43rem;
    font-weight: 500;
    font-family: "Avenir Next W01", "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 1px;
    display: inline-block;
}

@media (min-width: 1250px) {
    .data-block-focal-text {
        font-size: 2.43rem;
    }
}

@media (max-width: 1250px) {
    .data-block-focal-text {
        font-size: 2.43rem;
    }
}

@media (max-width: 1000px) {
    .data-block-focal-text {
        font-size: 2.25rem;
    }
}

@media (max-width: 800px) {
    .data-block-focal-text {
        font-size: 2rem;
    }
}


.data-block-container {
    background: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.data-block-container:hover {
    box-shadow: 0 2px 2px 0 rgba(46,41,60,0.2);
    transition: 0.3s;
}

.data-block-container-title {
    background-color: #46415C;
    color: white;
}

.data-block-box {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.data-block-left-icon {
    position: absolute;
    font-size: 1.25rem;
    top: 5px;
    left: 25px;
}

/* End Data Block Styling */

/* Marketplace Chart Card Styling */
.marketplace-chart-card {
}


/* End Marketplace Chart Card Styling */