.lead-time-release-duration-kpi .metric-block-content-text {
  font-size: 1.2rem;
}

.lead-time-deployment-duration-chart-container .col-3,
.lead-time-deployment-duration-chart-container .col-9 {
  padding-left: 0.5rem!important;
  padding-right: 0.5rem!important;
}

.lead-time-deployment-duration-chart-container .col-3 {
  align-self: center;
}
