@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E2959FEB-1431-4CC3-A585-72A3DC0C5821

dhx-suite-package:registry=https://opserarepo.jfrog.io/artifactory/api/npm/default-npm-virtual/
//opserarepo.jfrog.io/artifactory/api/npm/default-npm-virtual/:_auth=c3VwcG9ydEBvcHNlcmEuaW86QVA1UXdNTFptV3hTVkVRckh0MjhzMzlOSGhtVGNtRFpURzM1anE=