@dhx-suite-package:registry=https://opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/
@<SCOPE>:registry=https://opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:_password=QVA1UXdNTFptV3hTVkVRckh0MjhzMzlOSGhtVGNtRFpURzM1anE=
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:username=support@opsera.io
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:email=support@opsera.io
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E2959FEB-1431-4CC3-A585-72A3DC0C5821