/* TODO: Move to main css when satisfied for use in other components */

.list-group .list-group-item {
  border: none;
}

.form-control {
  height: 2em;
}

/* .form-group div {
  height: 2em;
} */

div.modal-body {
  padding: 0em 0;
}

div.modal-header .h4 {
  font-size: 1.25em;
}

div.modal-header {
  padding: .3em 1em;
  margin-top: .2em;
  background-color: #1578dc;
  color: #fff;
  margin-top: 0;
}

div.modal-header .close {
  padding: 1rem 1rem 0 1rem;
  text-shadow: none;
  color: white;
}

.modal-content {
  width: 100%;
  overflow-x: hidden;
}

div.modal-footer {
  padding: .3em 0.2em;
  margin-top: .2em;
  background-color: #dee2e6;
  min-height: 2em;
}