.footer-records {
  max-width: 26%!important;
  margin-left: auto;
}
.box-icon {
  position: absolute;
  font-size: 1.25rem;
  top: 5px;
  left: 25px;
}
.info-box-icon {
  position: absolute;
  font-size: 1.5rem;
  top: 5px;
  left: 25px;
}
