.formContainer {
    display: flex;
    flex-wrap: wrap;
}

.formContainer .form-group {
  margin-bottom: 1rem;
  width: 50%;
  display: flex;
}

.btn-link-danger {
  color: #dc3545;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}