.card-header-clickable {
  color: #226196;
  cursor: pointer;
}

.react-lazylog-searchbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: #000 !important;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.react-highlighter-lightblue{
  background-color: rgb(209, 236, 255);
  padding: 2px;
}