/* handle overflow text */

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* KPI image CSS */

.kpi-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 50%;
}

.kpi-image-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
