.templateFormContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.templateFormContainer .half-width {
  margin-bottom: 1rem;
  width: 50%;
  display: flex;
}

.templateFormContainer .full-width {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}