.chart-header {
  background-color: #333a4026;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 5px;
  padding: 5px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.chart {
  background: white;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 20px;
}

.new-chart {
  background: white;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  padding-top: 20px;
}

/* -- For Nivo chart legend -- */

.chart svg > g > g:last-child > g:nth-child(2),
.new-chart svg > g > g:last-child > g:nth-child(2) {
  transform: translate(0, 12px);
  /* transform: translate(0, 10px); */
}

.chart svg > g > g:last-child > g:nth-child(3),
.new-chart svg > g > g:last-child > g:nth-child(3) {
  transform: translate(0, 24px);
}

.chart svg > g > g:last-child > g:nth-child(4),
.new-chart svg > g > g:last-child > g:nth-child(4) {
  transform: translate(-8rem);
}

.chart svg > g > g:last-child > g:nth-child(5),
.new-chart svg > g > g:last-child > g:nth-child(5) {
  transform: translate(-8rem, 12px);
}

.chart svg > g > g:last-child > g:nth-child(6),
.new-chart svg > g > g:last-child > g:nth-child(6) {
  transform: translate(-8rem, 24px);
}

.chart svg > g > g:last-child > g:nth-child(7),
.new-chart svg > g > g:last-child > g:nth-child(7) {
  transform: translate(-16rem);
}

.chart svg > g > g:last-child > g:nth-child(8),
.new-chart svg > g > g:last-child > g:nth-child(8) {
  transform: translate(-16rem, 12px);
}

.chart svg > g > g:last-child > g:nth-child(9),
.new-chart svg > g > g:last-child > g:nth-child(9) {
  transform: translate(-16rem, 24px);
}

.chart svg > g > g:last-child > g:nth-child(10),
.new-chart svg > g > g:last-child > g:nth-child(10) {
  transform: translate(-24rem);
}

/* -------------------------- */

.chart:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #334152;
}

.chart-label-text {
  position: relative;
  top: 10px;
  left: 15px;
}

.count-container {
  height: 140px;
}

.count-block {
  background: white;
  transition: 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  position: relative;
  padding: 3% 0;

  display: flex;
  align-items: center;
}

.count-block-card-view {
  transition: 0.3s;
  border-radius: 0.25rem;
  position: relative;
  padding: 3% 0;
  display: flex;
  align-items: center;
}

.count-block-primary-text {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.count-block-subtext {
  line-height: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.count-block-footer {
  /* position:absolute; */
  bottom: 0px;
}

/*  Start dashboard box modules */
.metric-box {
  min-width: 120px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.metric-box-headertext {
  font-size: 80%;
  font-weight: bold;
  line-height: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.metric-box-subtext {
  font-size: 70%;
  line-height: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.metric-box-footertext {
  font-size: 50%;
  line-height: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.box-metric {
  font-size: 2.43rem;
  font-weight: 500;
  font-family: "Avenir Next W01", "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
}

.icon-box {
  margin-left: -19.19px;
}

/*  End dashboard box modules */

/* circle css for guage replacement */

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #000;
  margin: 35px auto;
}
