/* Landing Content CSS */
.landing-content-module {
  min-width: 220px;
}

.free-trial-tabs .nav-tabs > a.active, .free-trial-tabs .nav-tabs > a.active:focus {
  background: #28a745;
  color: #fff;
}

.free-trial-tabs .nav-tabs > a.active:hover {
  background: #0f3e84;
  border-bottom-color: #28a745;
}

.free-trial-tabs .nav-tabs > a {
  padding: 10px 30px;
  border-bottom: 5px solid #0f3e84;
  background: rgba(0,0,0,.05);
  color: #6c757d;
}

.free-trial-tabs .nav-tabs > a.active {
  background: #28a745;
  /*border-color: #1578dc;*/
  border-bottom: 5px solid #0f3e84;
}

.free-trial-tabs .nav-tabs .nav-item.show .nav-link, .free-trial-tabs .nav-tabs .nav-link:hover {
  border-color: #28a745;
}

.free-trial-tabs .nav-tabs {
  display: inline-block;
}

.free-trial-tabs a {
  display: inline-block;
  color: #6c757d;
  position: relative;
}

.free-trial-tabs a:hover {
  color: #fff;
  background: #0f3e84;
}