/* Custom CSS for workflows here */
.workflow-parent-module-container {
  background-color: #2262968a;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 8px;
  padding: 8px;
  max-width: 400px;
}

.workflow-module-container {
  max-width: 400px;
  background-color: #fff;
  color: #334152;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 8px;
  padding: 8px;
}

.workflow-module-container-arrow {
  max-width: 400px;
  /* opacity: 0; */
  /* background-color: #2262968a; */
  color: #fff;
}


/*  
.item-edit-sidebar {
  min-height: 450px;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 250px;
  right: 0;
  overflow-x: hidden;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding-top: 60px;
}

.item-edit-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.item-edit-sidebar a:hover {
  color: #f1f1f1;
}  */