.pagination-block .page-link {
  color: #0f3e84;
}
.pagination-block .page-item.active .page-link {
  background-color: #0f3e84;
  border-color: #0d4183;
}
.pagination-block .page-summary {
  padding-top: 10px;
}
