.pagination-block .page-link {
  color: #46415C;
}
.pagination-block .page-item.active .page-link {
  background-color: #46415C;
  border-color: #6E6690;
}

.pagination-block .page-item.active.disabled .page-link {
  background-color: #E7E5ED;
  border-color: #dee2e6;
}

.pagination-block ul {
  margin-bottom: .25rem;
}

.pagination-block .page-summary {
  padding-top: 10px;
}