.pagination-block {
  .page-link {
    color: #226196;
  }
  .page-item.active .page-link {
    background-color: #226196;
    border-color: #0d4183;
  }
  .page-summary {
    padding-top: 10px;
  }
}