.pagination-block .page-link {
  color: #1578dc;
}
.pagination-block .page-item.active .page-link {
  background-color: #1578dc;
  border-color: #1578dc;
}

.pagination-block .page-item.active.disabled .page-link {
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-block ul {
  margin-bottom: .25rem;
}

.pagination-block .page-summary {
  padding-top: 10px;
}