/* Help Documentation Container Styling */
.help-documentation-container .header {
    /*background-color: #f2c364;*/
    background-color: #F6D179;
    color: #3D3B36;
}

.help-documentation-container .help-body {
    background-color: #fbe3b3;
    min-height: 195px;
    overflow-y: auto;
    overflow-x: hidden
}

/* End Help Documentation Container Styling */

/* Metric Container Styling */
.metric-container {
    width: 100%;
    margin: 1em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .metric-container {
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .metric-container {
        max-width: 100%;
        width: 100%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .metric-container {
        max-width: 45%;
        /* width: 100%; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .metric-container {
        max-width: 30%;
    }
}
/* End Metric Container Styling */

/* Makeup Container Styling */
.makeup-tree-container {
    border-right: 1px solid #E6E5E3;
}

.makeup-tree-container-body {
    min-height: calc(100vh - 264px);
    height: calc(100vh - 264px);
    max-height: calc(100vh - 264px);
    overflow-y: auto;
}

.makeup-tree-title {
    min-height: 49px;
    font-weight: 500;
    line-height: 1.4;
    font-size: 1.1rem;
    background-color: #F3F3F1;
    color: #3D3B36;
    border: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
}

.makeup-tab-content-title {
    min-height: 49px;
    font-weight: 500;
    line-height: 1.4;
    font-size: 1.2rem;
    background-color: #F3F3F1;
    color: #3D3B36;
    border: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
}

.makeup-container-body {
    min-height: calc(100vh - 264px);
    height: calc(100vh - 264px);
    max-height: calc(100vh - 264px);
    overflow-y: hidden;
}

.makeup-container-table {
    min-height: calc(70vh - 82px - .5rem);
}

.makeup-container-tab-container {
    max-height: 100%;
    overflow-y: hidden;
}

.makeup-container-content-body {
    min-height: calc(100vh - 264px);
    height: calc(100vh - 264px);
    max-height: calc(100vh - 264px);
    overflow-y: auto;
}
/* End Makeup Container Styling */