/*
Styles specific to Free Trial

*/

.siteFont {
    font-family: 'Inter', sans-serif;
}

.openRoutesContainer {
    padding-top: 50px;
}

.darkBackground {
    background-color: #352F54;
}

.darkBackgroundText {
    color: #FFF;
}

.darkGold {
    color: #CF940C;
}


.loginScreenBackground {
    background-color: #352F54;
    height: 100vw;
}

.loginScreenText {
    color: #FFF;
    text-align: center;
    margin-top:50px;
}

.marketingModulesText {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    letter-spacing: 1.3px;
    line-height: 1.5;
}
