/*
Styles specific to Free Trial

*/

.siteFont {
    font-family: 'Inter', sans-serif;
}

.topNavLinkText {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    letter-spacing: .8px;
}

.openRoutesContainer {
    padding-top: 50px;
}

.darkBackground {
    background-color: #352F54;
}

.darkBackgroundText {
    color: #FFF;
}

.darkGold {
    color: #CF940C;
}


.loginScreenBackground {
    background-color: #352F54;
    height: 100vw;
}

.loginScreenText {
    color: #FFF;
    text-align: center;
    margin-top:50px;
}

.marketingModulesText {
    font-family: 'Inter', sans-serif !important;
    font-weight: 100;
    letter-spacing: 1.3px;
    line-height: 1.5;
    color: #000;
}

.marketingModulesTextLink {
    color: #0d4183;
    cursor: pointer;
    text-decoration: underline;
}

.marketingModulesTextLarger {
    font-size: 1.2rem;
}

.marketingModulesValueText {
    font-size:1.3rem;
    font-weight: bold;
}

.focusText {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    line-height: 1.2;
    color: #7f8d93;
    font-size: 1.1rem;
}

/*TODO: Use styled components to handle css*/
.wizard-selection-option:hover {
    background-color: #352F54 !important;
}

.wizard-selection-option:hover .wizard-font {
    color: #FFF !important;
}

.iconTitleBarSubTitleText {
    font-size: larger;
}
