.nav-bar {
/*  padding-top:5px;
  border-bottom: solid 1px #c9cdd0*/
  background-color: #352F54;
}

.navbar .top-nav-dropdown .nav-link {
  color: #fef7fd !important;
}

.nav-bar .header-text {
  font-size: 1.7rem;
  margin-left:-3px;
  color: #fef7fd;
}

.nav-drop-down-item {
  color: #2e1956;
  text-decoration: none;
}


/* UserName Text Style */
.navbar-nav .nav-link {
  /* color: #fff !important; */
  font-size: 1.2em;
}

a.nav-drop-down-item:hover {
  /* color: #fff !important; */
  background-color: #2e1956 !important;
  text-decoration: none;
}

.dropdown-menu {
  font-size: .9em !important;
}