/* The side navigation menu */

.sidebar-container {
  font-size: .9rem;
  box-shadow: none;
  border-right-width: 1px;
}

.sidebar-menu .nav-link {
  padding-left: 0 !important;
  /* font-size: 1rem; */
  letter-spacing: .05rem;
}

.sidebar-menu .nav-link-sub {
  /*padding-left: 15px !important;*/
  /*font-size: .8rem;*/

  /*padding-top: 0;*/
}

.sub-header {
  color: #241F3D;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: .3rem;
}

.sidebar-menu .menu-text {
  margin-left: 5px;
}

.sidebar-menu .menu-text-sub {
  margin-left: 2rem;
}

.sidebar-menu .nav-link {
  color: #3D3B36; /*#1578dc;*/
}

.sidebar-menu a.chosen {
  color: #CF940C; /* #0f3e84;*/
}

.sidebar-menu a:hover {
  /*color: #7A756C;*/ /* #0f3e84;*/
  color: #CF940C;
}

.sidebar-menu a.chosen:hover {
  /*color: #7A756C;*/
  color: #CF940C;
}

.fixed-row-footer-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 15px;
  background-color: #f2f2f2;
  z-index: 1200;
}