$nav-bar-bg: #352f54;
$nav-bar-height: 48px;
$footer-height: 32px;
$primary-bg: #7141dc;
$primary-bg-text: #ffffff;
$default-border-color: #d8d8d8;
$default-app-bg: #e5e5e5;
$default-light-text-color: #7b89a2;
$min-sub-menu-height: 32px;
$insights-tab-bg: #f7f7f9;
$insights-tab-text: #7b89a2;
$insights-tab-item-width: 110px;
$insights-tab-border: #9faac0;
$primary-text: #4f337d;
$secondary-btn-bg: #39196d;
$secondary-btn-text: #ffffff;
$secondary-text-color: #46376f;
$dark-blue-text-color: #39196d;

//Status Colors
$warning-light: #f9c116;

$secondary-border-color: #b1b1b1;

