@import "src/temp-library-components/scss/opsera-theme";

.sub-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.sub-menu-container > ul {
  border-radius: 26px;
  margin: 0;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid $default-border-color;
  padding: 0;
}

.sub-menu-container > ul > li {
  display: inline-block;
  text-align: center;
  height: 34px;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.sub-menu-container > ul > li div {
  color: $secondary-text-color;
  text-decoration: none;
  font-size: 14px;
}

.sub-menu-container > ul > li.active {
  background: $secondary-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
}

.sub-menu-container ul li.active div {
  color: white;
  margin: auto;
}
