.members-block {
  border: 1px solid #ccc;
  /*padding: 20px;*/
}

.members-title {
  display: flex;
  justify-content: space-between;
}

.member-list {
  list-style: none;
  display: flex;
  justify-content: start;
}