/* Help Documentation Container Styling */
.help-documentation-container .header {
    /*background-color: #f2c364;*/
    background-color: #F6D179;
    color: #3D3B36;
    min-height: 40px;
}

.help-documentation-container .help-body {
    background-color: #fbe3b3;
    min-height: 195px;
    overflow-y: auto;
    overflow-x: hidden
}

.help-documentation-container {
    background-color: #E6E5E3;
    min-height: 1em;
}
/* End Help Documentation Container Styling */