/* Role Access Input Styling */
.role-access .group-badge {
  font-weight: normal;
  background: #E6E5E3;
}

.role-access .user-badge {
    font-weight: normal;
    background: #b2dbff;
}
/* End Role Access Input Styling */