html {
  height: 100%;
  min-height: 100%;
  margin:0;
}

body {
  background-color: #fff;
  /* font-family: 'SF Text', 'Helvetica', serif; */
  font-family: 'Gotham Light', Arial, sans-serif;
  font-size:12pt;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.active {
  font-weight:bold;
  color: #343a40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  height: 100vh;
  font-size: .9rem;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.loader {
  min-width: 125px;
}

.row-header-text {
  font-size: 1.1em;
}

@media only screen and (max-width: 764px) {
  .sidebar {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
  }

}

/* reporting */

.reporting__to-dashboard-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
