.nav-bar {
  padding-top:5px;
  border-bottom: solid 1px #c9cdd0
}

.nav-bar .header-text {
  font-size: 1.7rem;
  margin-left:-3px;;
}

.nav-drop-down-item {
  color: #212529;
  text-decoration: none;
}


/* UserName Text Style */
.navbar-nav .nav-link {
  /* color: #fff !important; */
  font-size: 1.2em;
}

a.nav-drop-down-item:hover {
  /* color: #fff !important; */
  background-color: #1989F9 !important;
  text-decoration: none;
}

.dropdown-menu {
  font-size: .9em !important;
}