/* The side navigation menu */

/* USE THIS COLOR ROR ICONS?  #3d7e9a */


/* .side-nav-header-text {
  font-weight: bold;
  color: #fff;
}
 */
/* .nav-link-text {
  cursor: pointer;
  color: #226196 !important;
}
.nav-link-text a:hover {
  color: #0073ff;
}

.nav-link-text-active {
  font-weight: bold;
  color: #343a40 !important;
}

 */
.sidebar-container {
  font-size: .9rem;
  box-shadow: none;
  border-right-width: 1px;
}

.sidebar-menu .nav-link {
  padding-left: 0 !important;
}


/*  Appending FontAwesome Icon to class
.sidebar-menu .nav-link::after {
  font-family: "FontAwesome";
  content: "\f105";
} */

.sub-header {
  color: #226196;
  text-transform: uppercase;
  font-size: 0.72rem;
  letter-spacing: 1px;
}

.sidebar-menu .menu-text {
  margin-left:8px;
}

.sidebar-menu .nav-link {
  color: #226196;
}
.sidebar-menu a.chosen {
  color: #686d75;
}
.sidebar-menu a:hover {
  color: #0073ff;
}


.fixed-row-footer-bottom { 
  position: fixed; 
  bottom: 0;
  width: 100%;
  left: 15px;
  background-color: #f2f2f2;
}