/* The side navigation menu */


.nav-link-header {
  color: #fff;
  font-size: 1.2em;
  margin-top:5px;
}

a.nav-link-light.nav-link.active {
  color: #ffc107;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #fff;
  font-size:1.1em;
  white-space: nowrap;
}

a.nav-link:hover {
  color:rgba(255,255,255,.5);
}

.navbar-list a.chosen,
.navbar-list a:hover {
  /* border-bottom: 1px solid #F14B31; */
  color: #ffc107;
}

.fixed-row-footer-bottom { 
  position: fixed; 
  bottom: 0;
  width: 100%;
  left: 15px;
  background-color: #f2f2f2;
}