/* The side navigation menu */
a.nav-link {
  color: #fff;
  font-size:1.1em;
}

a.nav-link:hover {
  color:rgba(255,255,255,.5);
}

.nav-link-header {
  color: #fff;
  font-size: 1.2em;
  margin-top:5px;
}