/*------------------------------------
- https://lingtalfi.com/bootstrap4-color-generator
- Source Color: #1578dc
------------------------------------*/

.modal-lg {
  max-width: 1200px !important;
}


/*  Buttons  */

.btn-link {
  font-weight: 400;
  color: #1578dc;
  text-decoration: none;
}

.btn-link:hover {
  font-weight: 400;
  color: #1578dc;
  text-decoration: none;
}

.btn-link:focus, .btn-link.focus {
  font-weight: 400;
  color: #1578dc;
  text-decoration: none;
}


.btn-primary {
  color: #fff;
  background-color: #1578dc;
  border-color: #1578dc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1a4e79;
  border-color: #1578dc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #224b96;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #5e82b1;
  border-color: #90a8c5;
  cursor: default;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1578dc;
  border-color: #224b96;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-outline-primary {
  color: #1578dc;
  background-color: transparent;
  border-color: #4b6588;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #1578dc;
  border-color: #1578dc;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #1578dc;
  background-color: transparent;
  border-color: #90a8c5;
  cursor: default;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1578dc;
  border-color: #1578dc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

/* 
  Card Customizations
*/
.accordion .card-header {
  background-color: #fff;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #010913;
  background-color: #6ba6f0;
  border-color: #599aee;
}

.alert-primary hr {
  border-top-color: #418cec;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #1578dc;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #082954;
}

.bg-primary {
  background-color: #1578dc !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #082954 !important;
}

.border-primary {
  border-color: #1578dc !important;
}


.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a746bd;
  border-color: #28a74650;
  cursor: default;
}

/* active*/
.nav-pills .nav-item .active {
  background-color:#1578dc;
  color: white;
}

.list-group-item-primary {
  color: #010913;
  background-color: #599aee;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #010913;
  background-color: #418cec;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #010913;
  border-color: #010913;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #599aee;
}

.table-hover .table-primary:hover {
  background-color: #418cec;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #418cec;
}

.text-primary {
  color: #1578dc !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #082954 !important;
}


.dropdown-menu  .dropdown-item:hover {
  color: #fff;
  background-color: #343a4080;
}

.w-20 {
  width: 200px;
  min-width: 160px;
}
