/*------------------------------------
- https://lingtalfi.com/bootstrap4-color-generator
- Source Color: #1578dc
------------------------------------*/

.modal-lg {
  max-width: 1200px !important;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.invalid-feedback {
  display: block;
}

/*  Buttons  */

.btn-link {
  font-weight: 400;
  color: #8F86BB;
  text-decoration: none;
}

.btn-link:hover {
  font-weight: 400;
  color: #5C5291;
  text-decoration: none;
}

.btn-link:focus, .btn-link.focus {
  font-weight: 400;
  color: #9F97CA;
  text-decoration: none;
}

/*Bootstrap Button Primary*/
.btn.btn-primary {
  color: #fff;
  background-color: #4D4283;
  border-color: #6153A5;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: #383060;
  border-color: #6153A5;
  outline: none;
  box-shadow: none;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: #383060;
  border-color: #6153A5;
  outline: none;
  box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active {
  color: #fff;
  background-color: #383060;
  border-color: #6153A5;
  outline: none;
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: #383060;
  border-color: #6153A5;
  outline: none;
  box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #E3E1EE;
  border-color: #C7C3DD;
  cursor: default;
}


/* GREEN SUCCESS: #00AA84 */
.btn.btn-success {
  color: #fff;
  background-color: #00AA84;
  border-color: #3da060;
}

.btn.btn-success.focus,
.btn.btn-success:focus {
  color: #fff;
  background-color: #008388;
  border-color: #69736d;
  outline: none;
  box-shadow: none;
}

.btn.btn-success:hover {
  color: #fff;
  background-color: #008388;
  border-color: #69736d;
  outline: none;
  box-shadow: none;
}

.btn.btn-success.active,
.btn.btn-success:active {
  color: #fff;
  background-color: #008388;
  border-color: #69736d;
  outline: none;
}

.btn.btn-success.active.focus,
.btn.btn-success.active:focus,
.btn.btn-success.active:hover,
.btn.btn-success:active.focus,
.btn.btn-success:active:focus,
.btn.btn-success:active:hover {
  color: #fff;
  background-color: #008388;
  border-color: #69736d;
  outline: none;
  box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #00aa848a;
  border-color: #f6f9f9;
  cursor: default;
}

.btn-outline-success {
  color: #00AA84;
  background-color: transparent;
  border-color: #00978A;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #008388;
  border-color: #00978A;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem #00978A;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #7A756C;
  background-color: transparent;
  border-color: #00aa848a;
  cursor: default;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #00978A;
  border-color: #008388;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #00978A;
}


.btn.btn-warning {
  color: #fff;
  background-color: #F0B324;
  border-color: #F6D179;
}

.btn.btn-warning.focus,
.btn.btn-warning:focus {
  color: #fff;
  background-color: #CF940C;
  border-color: #F6D179;
  outline: none;
  box-shadow: none;
}

.btn.btn-warning:hover {
  color: #fff;
  background-color: #CF940C;
  border-color: #F0B324;
  outline: none;
  box-shadow: none;
}

.btn.btn-warning.active,
.btn.btn-warning:active {
  color: #fff;
  background-color: #CF940C;
  border-color: #F0B324;
  outline: none;
}

.btn.btn-warning.active.focus,
.btn.btn-warning.active:focus,
.btn.btn-warning.active:hover,
.btn.btn-warning:active.focus,
.btn.btn-warning:active:focus,
.btn.btn-warning:active:hover {
  color: #fff;
  background-color: #CF940C;
  border-color: #F0B324;
  outline: none;
  box-shadow: none;
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: #7A756C;
  background-color: #FAE8BC;
  border-color: #FDF3DE;
  cursor: default;
}

.btn-outline-warning {
  color: #F0B324;
  background-color: transparent;
  border-color: #F6D179;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #CF940C;
  border-color: #F0B324;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem #CF940C;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #7A756C;
  background-color: transparent;
  border-color: #FAE8BC;
  cursor: default;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: #fff;
  background-color: #CF940C;
  border-color: #F0B324;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #CF940C;
}


.btn-outline-primary {
  color: #4D4283;
  background-color: transparent;
  border-color: #6153A5;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #383060;
  border-color: #6153A5;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem #383060;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #46415C;
  background-color: transparent;
  border-color: #C7C3DD;
  cursor: default;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #46415C;
  border-color: #C7C3DD;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #241F3D;
}


/*
  Card Customizations
*/
.accordion .card-header {
  background-color: #fff;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #010913;
  background-color: #6ba6f0;
  border-color: #599aee;
}

.alert-primary hr {
  border-top-color: #418cec;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #1578dc;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #082954;
}

.bg-primary {
  background-color: #1578dc !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #082954 !important;
}

.border-primary {
  border-color: #1578dc !important;
}


/* active*/
.nav-pills .nav-item .active {
  background-color: #46415C;
  color: white;
  text-decoration: none;
}

.list-group-item-primary {
  color: #010913;
  background-color: #46415C;
}

.list-group-item.active {
  background-color: #46415C;
  color: white;
  text-decoration: none;
  border-color: #010913;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #010913;
  background-color: #241F3D;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #010913;
  border-color: #010913;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #857EA4;
}

.table-hover .table-primary:hover {
  background-color: #6E6690;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #6E6690;
}

.text-primary {
  color: #352F54 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #221E35 !important;
}


.dropdown-menu .dropdown-item:hover {
  color: #fff;
  background-color: #343a4080;
}

.w-20 {
  width: 200px;
  min-width: 160px;
}

.full-height {
  height: 100%;
}

.half-height {
  /* Adjust vh if we tighten up whitespace at the top of the app */
  height: 40%;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-min-height {
  height: 500px;
}


/* Table Style Changes */
.custom-table-filter {
  font-size: .8em;
}

.custom-table-filter .btn {
  font-size: 1em;
}

/* Table Styling */
.custom-table {
  font-size: .9em;
  width: 100%;
}

.custom-table th {
  background-color: #46415C; /*#2588ec;*/
  border-bottom: 1px solid #7368AA; /*#3598fc;*/
  color: #fff;
  line-height: 2.4em;
  vertical-align: middle;
  white-space: nowrap;
}

.custom-table .no-header-text {
  height: 2em;
}

.custom-table .table-title-bar {
  color: #46415C;
  line-height: 2.4em;
  font-weight: bold;
  background-color: #dee2e6;
  width: 100%;
}

.custom-table .table-row {
  margin-bottom: 2em;
  line-height: 2em;
  border-bottom: 1px solid #cdd1d5;
  color: #46415C;
  background-color: #fff;
}

.custom-table .cell-center {
  text-align: center;
  vertical-align: middle;
}

.custom-table tr.inactive-row {
  opacity: .6;
}

.custom-table .table-row:hover {
  background-color: #E7E5ED;
}

.custom-table .table-footer {
  background-color: #E7E5ED;
  padding-top: 1em;
  height: 2em;
}

.custom-table .top-pagination {
  background-color: #E7E5ED;
  height: 2em;
}

.filter-table .active-filter-bar {
    background-color: #E7E5ED;
}

/* End Table Styling */

/* End custom table styling */

/* Custom modal styling */
/* TODO: apply class to modal */
div.modal-body {
  padding: 0 0;
}

div.modal-header .h4 {
  font-size: 1.25em;
}

div.modal-header {
  padding: .3em 1em;
  background-color: #46415C;
  color: #fff;
  margin-top: 0;
}

div.modal-header .close {
  padding: 1rem 1rem 0 1rem;
  text-shadow: none;
  color: white;
}

.modal-content {
  width: 100%;
  overflow-x: hidden;
}

div.modal-footer {
  padding: .3em 0.2em;
  margin-top: .2em;
  background-color: #dee2e6;
  min-height: 2em;
}

/* End custom modal styling */

/* Form Styling */
.formLabel {
  color: #334152;
  font-size: 1.25em;
}

/* End Form Styling */


/* Custom Tab Styling */
.nav-tabs {
  border-bottom: none;
}

a.nav-link {
  color: #3D3B36;
}

/* Default Custom Tab styling */
.default-custom-tabs .nav-tabs .nav-item.show .nav-link, .default-custom-tabs .nav-tabs .nav-link {
  background: rgba(0, 0, 0, .05);
  color: #6c757d;
  border-bottom: none;
}

.default-custom-tabs .nav-tabs .nav-item.show .nav-link, .default-custom-tabs .nav-tabs .nav-link.active {
  background: #46415C;
  color: #fff;
  /* border-color: #1578dc;*/
  text-decoration: none;
}

.default-custom-tabs .nav-tabs .nav-item.show .nav-link, .default-custom-tabs .nav-tabs .nav-link:hover {
  border-color: #1E1D1B;
}

/* End Default Custom Tab styling */

/* Begin Step Tabs Styling */
.step-tabs .nav-tabs > li a.active, .step-tabs .nav-tabs > li a.active:focus {
  background: #241F3D;
  color: #fff;
}

.step-tabs .nav-tabs > li a.active:hover {
  background: #241F3D;
  color: #fff;
  /*border-color: #1578dc;*/
}

.step-tabs .nav-tabs > li a {
  padding: 10px 30px;
  border-bottom: 5px solid #0f3e84;
}

.step-tabs .nav-tabs > li a.active {
  border-bottom: 5px solid #0f3e84;
}

.step-tabs .nav-tabs .nav-item.show .nav-link, .step-tabs .nav-tabs .nav-link:hover {
  border-color: #1578dc;
}

.step-tabs .nav-tabs {
  padding: 1px 15px 1px 1px;
  background: rgba(0, 0, 0, .05);
  color: #6c757d;
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  display: inline-block;
}

.step-tabs li {
  display: inline-block;
  min-width: 50px;
  background: rgba(0, 0, 0, .05);
  color: #6c757d;
  text-decoration: none;
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  padding: 0;
  position: relative;
  margin-right: -13px;
}

.step-tabs li a#last {
  -webkit-clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
}

.step-tabs li a:hover {
  color: #fff;
  background: #0f3e84;
}

.step-tabs li a:first-child {
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
}

/* End Step Tab Styling */

/* Alternate Tab Styling */
.alternate-tabs .nav-tabs .nav-item {
  margin-right: 2px;
}

.alternate-tabs .nav-tabs > li a.active, .alternate-tabs .nav-tabs > li a.active:focus {
  background: #46415C;
  color: #fff;
}

.alternate-tabs .nav-tabs > li a.active:hover {
  background: #241F3D;
  border-bottom-color: #46415C;
}

.alternate-tabs .nav-tabs > li a {
  padding: 10px 15px;
  border-bottom: 5px solid #6c757d;
  background: rgba(0, 0, 0, .05);
  color: #6c757d;
}

.alternate-tabs .nav-tabs > li a.active {
  background: #46415C;
  /*border-color: #1578dc;*/
  border-bottom: 5px solid #7368AA;
  text-decoration: none;
}

.alternate-tabs .nav-tabs .nav-item.show .nav-link, .alternate-tabs .nav-tabs .nav-link:hover {
  border-color: #7368AA;
}

.alternate-tabs .nav-tabs {
  display: inline-block;
}

.alternate-tabs li {
  display: inline-block;
  color: #6c757d;
  position: relative;
}

.alternate-tabs li a:hover {
  color: #fff;
  background: #241F3D;
}

/* End Alternate Tab Styling */

.tabbed-content-block {
  /*border-radius: 0 5px 5px 5px;*/
  border: 1px solid #d2d2d2;
  padding: 1em;
  color: #334152;
}

/* End Nav Tab Styling */

/* Sign Up Form Styling */
.new-user-signup-form {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.new-user-signup-form form {
  display: flex;
  align-items: center;
}

.free-trial-form {
  width: 500px;
}

.full-signup-form {
  width: 1000px;
}

.new-user-signup-form .form-group {
  width: 100%;
}

.new-user-signup-form .form-label {
  margin-top: .5em;
  width: 75%;
}

.new-user-signup-form .form-control {
  height: 2em;
  padding: 1em;
}

.new-user-signup-form .form-group select {
  padding: 0 1.25em 0 0;
  height: 2em;
}

.new-user-header {
  padding: .3em 1em;
  background-color: #46415C;
  border-color: #46415C;
  color: #fff;
  margin-top: 0;
  text-align: center;
}

.new-user-body {
  padding: 0;
}

.new-user-signup-form .register-button {
  display: flex;
  text-align: center;
  width: 100%;
}

.new-user-signup-form .register-button span {
  text-align: center;
  width: 100%;
}

.new-user-footer {
  padding: .3em 0.2em;
  margin-top: .2em;
  min-height: 2em;
}

/* End Sign Up Form Styling */

/* Select input styling. TODO: Determine why this doesn't automatically adjust with adjacent inputs */
.custom-multiselect-input .rw-widget-picker {
  display: inline-block;
}

.custom-multiselect-input .rw-multiselect-tag {
  margin-top: .25em;
  vertical-align: middle;
  margin-bottom: .25em;
}

.custom-select-input .rw-widget-input {
  /* this is based on form input's height, with a couple extra pixels added */
  height: calc(1.5em + .75rem + 5px);
}

/* End Select input styling */

/* Content Block Styling */
.content-block {
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}

.content-block-shaded {
  border-radius: 5px;
  background-color: rgba(203, 205, 205, 0.1);
}

.content-block-collapse {
  border-radius: 5px;
  background-color: rgba(203, 205, 205, 0.1);
  min-height: 50vh;
}

.content-block-loading {
  border-radius: 5px;
  background-color: rgba(203, 205, 205, 0.1);
  min-height: 75vh;
}

.content-block-no-height {
  border-radius: 5px;
  /*background-color: rgba(203, 205, 205, 0.1);*/
}

.content-block-top {
  border-top: 1px solid #d2d2d2;
  padding-top: 5px;
}

.table-content-block {
  border: 1px solid #7368AA;
}

.content-container {
  border: 1px solid #7368AA;
  /*border-radius: .25rem;*/
}

.content-container-shadow {
  -moz-box-shadow: 0px 2px 8px #8F86BB; /* Firefox */
  -webkit-box-shadow: 0px 2px 8px #8F86BB; /* Safari, Chrome */
  box-shadow: 0px 2px 8px #8F86BB; /* CSS3 */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Content Card 1 Styling */

.content-card-1 {
}

/*TODO: Style differently*/
/*.content-card-1 .flat-top-content-block {*/
/*border: 1px solid #8fa4ba;*/
/*border-bottom-right-radius: 5px;*/
/*border-bottom-left-radius: 5px;*/
/*}*/

.content-card-1 .content-block-header {
  background-color: #46415C;
  color: #fff;
  line-height: 2.4em;
  border-bottom: 5px solid #7368AA;
}

.content-card-1 .content-block-body {
  background-color: #dee2e6;
  min-height: 150px;
}

.content-card-1 .content-block-footer {
  border-top: 5px solid #738192;
  background-color: #334152;
  padding-top: 1em;
  height: 1.5em;
}

.content-card-1 .content-block-body .content-image {
  height: 125px;
}

.content-card-1 .selected {
  background-color: #6153A5;
  color: #fff;
}

.content-card-1 .even-row {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

.content-card-1 .odd-row .selected {
  background: #6153A5;
}

.content-card-1 .even-row:hover {
  background-color: #1578dc1f;
}

.content-card-1 .odd-row {
  background-color: #fff;
  cursor: pointer;
}

.content-card-1 .odd-row:hover {
  background-color: #1578dc1f;
}

.content-card-1 .footer {
  background-color: #1578dc1f;
  padding-top: 1em;
  height: 2em;
}

/* Content Card 2 Styling */

.content-card-2 {
}

.content-card-2 .content-block-header {
  background-color: #28a745;
  color: #fff;
  line-height: 2.4em;
  border-bottom: 5px solid #0f3e84;
}

.content-card-2 .content-block-body {
  background-color: #dee2e6;
  min-height: 150px;
}

.content-card-2 .content-block-footer {
  border-top: 5px solid #738192;
  background-color: #334152;
  padding-top: 1em;
  height: 1.5em;
}

.content-card-2 .content-block-body .content-image {
  height: 125px;
}

/* Content Card 3 Styling */

.content-card-3 {
}

.content-card-3 .content-block-header {
  background-color: #0f3e84;
  color: #fff;
  line-height: 2.4em;
  border-bottom: 5px solid #3f6eb4;
}

.content-card-3 .content-block-body {
  background-color: #dee2e6;
  min-height: 150px;
}

.content-card-3 .content-block-footer {
  border-top: 5px solid #738192;
  background-color: #334152;
  padding-top: 1em;
  height: 1.5em;
}

.content-card-3 .content-block-body .content-image {
  height: 125px;
}

/* End Content Block Styling */

/* Icon Styles */
.delete-icon:hover {
  color: #bb0000;
}

/* TODO: Create general table dropdown, but for now use this*/
.tableDropdown {
  min-width: 250px;
}

.multi-input-button {
  width: 32px;
}

/* Breadcrumb trail styling */
.breadcrumb {
  background-color: #fafafb;
  border-radius: .5rem;
}

/* End Breadcrumb trail styling */

/* Action Bar styling */
.action-bar-icon:hover {
  color: #0f3e84;
}

/* End Action Bar styling */

/* Detail View Styling */
.detail-view-body {
  min-height: 60vh;
}

.modal-detail-view-body {
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
}

.detail-screen-body {
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}

.page-description {
  background-color: #E7E5ED;
  height: 2em;
}

.detail-view-body .detail-view-summary {
  min-height: 20vh;
}

.detail-view-body .detail-view-detail-panel {
  min-height: 30vh;
}

.shaded-panel {
  border-radius: 5px;
  background-color: rgba(203, 205, 205, 0.1);
}

.shaded-container {
  background-color: rgba(203, 205, 205, 0.1);
}

/* End Detail View Styling */

/* Status Card Styling */
.statusCard {
  min-height: 50px;
}

.status-legend {
  background-color: rgba(203, 205, 205, 0.1);
  border-radius: 5px 5px 0 0;
}

.status-table {
  background-color: rgba(203, 205, 205, 0.1);
  border-radius: 5px 5px 5px 5px;
}

/* End Status Card Styling */
/* Filter bar styling */
.filter-bar {
  height: 30px;
}

.filter-title {
  background-color: #4D4283;
  border-bottom: 1px solid #46415C;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
}

.filter-body {
  min-width: 250px;
}

.filter-bar label {
  display: inline-flex;
  margin-right: 1em;
  height: 30px;
}

.filter-bar .custom-filter-input .rw-dropdown-list {
  display: inline-flex;
  min-width: 300px;
  max-width: 1200px;
  height: 20px;
}

.filter-bar .custom-filter-input .form-control {
  height: 1.9em;
}

.filter-bar .custom-filter-input .rw-widget-input {
  max-height: 30px;
  /*max-width: 150px;*/
}

/* End filter bar styling */

/*Popover Styling*/

.popover-title {
  background-color: #4D4283;
  border-bottom: 1px solid #46415C;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
}


.pipeline-owner-popover {
  min-width: 500px;
}

.success-toast {
  background-color: #FFF;
  color: #000000;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  border: 2px solid green;
  border-left: 8px solid green;
  padding: 2px;
  z-index: 3000;
  width: 600px;
  border-radius: 5px;
}

.error-toast {
  background-color: #FFF;
  color: #000000;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  border: 2px solid #dc3545;
  border-left: 8px solid #dc3545;
  font-size: 15px;
  padding: 1px;
  width: 600px;
  z-index: 3000;
  border-radius: 5px;
}

.information-toast {
  background-color: #FFF;
  color: #000000;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  border: 2px solid #1989F9;
  border-left: 8px solid #1989F9;
  padding: 1px;
  width: 600px;
  z-index: 3000;
  border-radius: 5px;
}

.information-toast-close-button {
  color: #1989F9;
}

.warning-toast {
  background-color: #FFF;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  border: 2px solid #f9c116;
  border-left: 8px solid #f9c116;
  padding: 1px;
  width: 600px;
  z-index: 3000;
  border-radius: 5px;
}

.warning-toast-close-button {
  color: #f9c116;
}

.toast-wrapper {
  z-index: 100;
  position: fixed;
  bottom: 2em;
  left: 1em;
  width: 600px;
  min-height: 200px;
}

.toast-container {
  position: fixed;
  bottom: 2em;
  opacity: 1;
}

/* Property Input Styling */
.object-properties-input .property-header {
    background-color: #46415C;
    color: #fff;
    height: 40px;
    line-height: 2.4em;
    border-bottom: 5px solid #7368AA;
}

.object-properties-input .delete-button {
    margin-left: 2px;
}

.object-properties-input .properties-body {
    height: 195px;
    overflow-y: auto;
    overflow-x: hidden
}

.object-properties-input .no-data-message {
    padding: 12.5%;
}

.object-properties-input .rw-widget-input {
    /* this is based on form input's height, with a couple extra pixels added */
    height: calc(1.5em + .75rem + 2px);
}


/* Pipeline Summary Card styling */
.pipeline-summary-card .card-footer {
  padding: 5px;
}
/* End Pipeline Summary Card styling */