/*------------------------------------
- https://lingtalfi.com/bootstrap4-color-generator
- Source Color: #1578dc
------------------------------------*/

.modal-lg {
  max-width: 1200px !important;
}

.fa-disabled { 
  opacity: 0.6;
  cursor: not-allowed;
}

/*  Buttons  */

.btn-link {
  font-weight: 400;
  color: #1578dc;
  text-decoration: none;
}

.btn-link:hover {
  font-weight: 400;
  color: #1578dc;
  text-decoration: none;
}

.btn-link:focus, .btn-link.focus {
  font-weight: 400;
  color: #1578dc;
  text-decoration: none;
}


.btn-primary {
  color: #fff;
  background-color: #1578dc;
  border-color: #1578dc;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1a4e79;
  border-color: #1578dc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #224b96;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #5e82b1;
  border-color: #90a8c5;
  cursor: default;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1578dc;
  border-color: #224b96;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-outline-primary {
  color: #1578dc;
  background-color: transparent;
  border-color: #4b6588;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #1578dc;
  border-color: #1578dc;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #1578dc;
  background-color: transparent;
  border-color: #90a8c5;
  cursor: default;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1578dc;
  border-color: #1578dc;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 65, 131, 0.5);
}

/* 
  Card Customizations
*/
.accordion .card-header {
  background-color: #fff;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #010913;
  background-color: #6ba6f0;
  border-color: #599aee;
}

.alert-primary hr {
  border-top-color: #418cec;
}

.alert-primary .alert-link {
  color: #000000;
}

.badge-primary {
  color: #fff;
  background-color: #1578dc;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  background-color: #082954;
}

.bg-primary {
  background-color: #1578dc !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #082954 !important;
}

.border-primary {
  border-color: #1578dc !important;
}


.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a746bd;
  border-color: #28a74650;
  cursor: default;
}

/* active*/
.nav-pills .nav-item .active {
  background-color:#1578dc;
  color: white;
}

.list-group-item-primary {
  color: #010913;
  background-color: #599aee;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #010913;
  background-color: #418cec;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #010913;
  border-color: #010913;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #599aee;
}

.table-hover .table-primary:hover {
  background-color: #418cec;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #418cec;
}

.text-primary {
  color: #1578dc !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #082954 !important;
}


.dropdown-menu  .dropdown-item:hover {
  color: #fff;
  background-color: #343a4080;
}

.w-20 {
  width: 200px;
  min-width: 160px;
}

.full-height {
  height: 100%;
}

.half-height {
  /* Adjust vh if we tighten up whitespace at the top of the app */
  height: 35vh;
}

.scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-min-height {
  height: 500px;
}


/* Table Style Changes */
.custom-table {
  /* border-radius: 5px; */
  /* border: 1px solid #d2d2d2; */
  font-size: .9em;
  width: 100%;
  margin-bottom:2em;
}

/*.custom-table thead {*/
/*  overflow-y: auto;*/
/*  overflow-x: hidden;*/
/*}*/

/*.custom-table tbody {*/
/*  overflow-y: scroll;*/
/*  overflow-x: hidden;*/
/*}*/

.custom-table-filter {
  font-size: .8em;
  padding-bottom:1em;
}

.custom-table-filter .btn {
  font-size: 1em;
}

.custom-table th {
  background-color: #1578dc;
  color: #fff;
  line-height:2.4em;
  border-bottom: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; 
}

.custom-table .cell-center {
  text-align: center;
  vertical-align: middle;
}

.table-title-bar {
  color: #1578dc;
  line-height:2.4em;
  font-weight: bold;
  background-color: #dee2e6;
  width: 100%;
}

.table-row {
  margin-bottom: 2em;
  line-height:2em;
  border-bottom: 1px solid #dee2e6;
}

.custom-table .table-row.even {
  background-color: rgba(0,0,0,.05);
}

.table-row.odd {
  background-color: #fff;
}

.custom-table tr.odd.inactive-row {
  /* background-color: rgba(4, 95, 200, 0.178); */
  opacity:.6;
}

.custom-table tr.even.inactive-row {
  /* background-color: rgba(4, 95, 200, 0.178); */
  opacity:.6;
}

.custom-table td:hover {
  /* color: white; */
}

.custom-table .table-row:hover .cell-icon {
  /* color:white; */
}

.custom-table .table-row {
  color: #334152;
}

.custom-table .table-row:hover {
  background-color: #1578dc1f;
  /* color: white; */
  /* cursor: pointer; */
}

/*.custom-table .table-row.selected-row {*/
/*  background-color: rgba(21, 120, 220, 0.58);*/
/*  color: #010913;*/
/*}*/

.custom-table .table-footer {
  background-color: #fff;
  padding-top: 1em;
  height: 2em;
}

/* End custom table styling */

/* Custom modal styling */
/* TODO: apply class to modal */
div.modal-body {
  padding: 0em 0;
}

div.modal-header .h4 {
  font-size: 1.25em;
}

div.modal-header {
  padding: .3em 1em;
  background-color: #1578dc;
  color: #fff;
  margin-top: 0;
}

div.modal-header .close {
  padding: 1rem 1rem 0 1rem;
  text-shadow: none;
  color: white;
}

.modal-content {
  width: 100%;
  overflow-x: hidden;
}

div.modal-footer {
  padding: .3em 0.2em;
  margin-top: .2em;
  background-color: #dee2e6;
  min-height: 2em;
}
/* End custom modal styling */

/* Form Styling */
.formLabel {
  color: #334152;
  font-size: 1.25em;
}
/* End Form Styling */


/* Nav Tab Styling */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  background: rgba(0,0,0,.05);
  color: #6c757d;
  border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #1578dc;
  color: #fff;
  border-color: #1578dc;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border-color: #1578dc;
}

.tabbed-content-block {
  border-radius: 0 5px 5px 5px;
  border: 1px solid #d2d2d2;
  padding: 1em;
}
/* End Nav Tab Styling */

/* Sign Up Form Styling */
.new-user-signup-form {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.new-user-signup-form form {
  width: 350px;
  display: flex;
  align-items: center;
}

.new-user-signup-form .form-group {
  width: 100%;
}

.new-user-signup-form .form-label {
  margin-top: .5em;
  width: 75%;
}

.new-user-signup-form .form-control {
  height: 2em;
  padding: 1em;
}

.new-user-header {
  padding: .3em 1em;
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  margin-top: 0;
  text-align: center;
}

.new-user-body {
  padding: 0;
}

.new-user-signup-form .register-button {
  display: flex;
  text-align: center;
  width: 100%;
}

.new-user-signup-form .register-button span {
  text-align: center;
  width: 100%;
}

.new-user-footer {
  padding: .3em 0.2em;
  margin-top: .2em;
  min-height: 2em;
}

/* End Sign Up Form Styling */