@opsera:registry=https://opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:_password=QVA1UXdNTFptV3hTVkVRckh0MjhzMzlOSGhtVGNtRFpURzM1anE=
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:username=support@opsera.io
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:email=support@opsera.io
//opserarepo.jfrog.io/artifactory/api/npm/opsera-platform-npm/:always-auth=true

engine-strict=true